/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Nguyen Tran Tri An
ID: s3974923
Acknowledgement: Acknowledge the resources that you use here. 
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

/* THE NAVIGATION BAR */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #DECAAF;
    padding: 13px 23px;
}
.logo img {width: 100px;}
.menu {display: flex;}
.menu li {padding-left: 46px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: brown;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: brown;
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: brown;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 650px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #DECAAF;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
main h1 {
    display: block;
    text-align: center;
    margin-top: 23px;
}

.contact-form {
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 36px 46px 36px 46px;
    background-color: white;
    width: 600px;
    height: 600px;
    margin-top: 36px;
}

.contact-form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.contact-form fieldset {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    margin-top: 20px;
}

.contact-form fieldset div {
    display: block;
    text-align: center;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
}

.reset-button {
    width: 200px;
    font-size: 13px;
    border: none;
    background-color: #fbe7d4;
    color: black;
    cursor: pointer;
    transition: opacity 0.25s;
}

.reset-button:hover {
    opacity: 0.9;
}
.reset-button:active {
    opacity: 0.7;
}

.submit-button {
    width: 200px;
    font-size: 13px;
    background-color: rgb(157, 72, 72);
    color: white;
    border: none;
    cursor: pointer;
    transition: opacity 0.25s;
}

.submit-button:hover {
    opacity: 0.9;
}
.submit-button:active {
    opacity: 0.7;
}

/* Contact Form Styles for Mobile */
@media screen and (max-width: 650px) {
    .contact-form {
        width: 90%; 
        padding: 20px; 
        height: auto; 
    }

    .contact-form div {
        flex-direction: column;
    }
    .contact-form fieldset div {
       margin-bottom: 20px;
    }

    .button-container {
        flex-direction: column; 
    }

    .reset-button,
    .submit-button {
        width: 100%; 
        margin-top: 10px; 
    }
}

/* Contact Form Styles for iPad */
@media screen and (min-width: 651px) and (max-width: 1024px) {
    .contact-form {
        width: 80%; 
        padding: 30px;
    }
}

/* FOOTER */
.second-nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #DECAAF;
    padding: 13px 23px;
    margin-bottom: 23px;
    margin-top: 23px;
}

.second-nav-bar li a {
    display: inline-block;
    text-decoration: none;
    color: brown;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

.second-nav-bar li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: brown;
    transition: 0.15s ease-in-out;
}
.second-nav-bar li a:hover:after {width: 100%;}

/* Footer styles for Mobile */
@media screen and (max-width: 650px) {
    .second-nav-bar {
        display: block; 
        text-align: center; 
        padding: 10px; 
    }

    .second-nav-bar li {
        display: inline-block; 
        margin: 10px; 
    }

    .second-nav-bar li a::after {
        width: 100%; 
    }
}