/*
RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Nguyen Tran Tri An
ID: s3974923
Acknowledgement: Acknowledge the resources that you use here. 
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

/* THE NAVIGATION BAR */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #DECAAF;
    padding: 13px 23px;
}
.logo img {width: 100px;}
.menu {display: flex;}
.menu li {padding-left: 46px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: brown;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: brown;
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: brown;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 650px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #DECAAF;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

/* NAVIGATION BAR BREADCRUMS */
.nav-breadcrums {
    display: block;
}

.breadcrums {
    display: flex;
    flex: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    list-style: none;
    flex-direction: row;
    padding: 20px;
}

.home-breadcrums {
    font-size: 23px;
}

.non-fiction-breadcrums {
    margin: 10px;
    font-size: 23px;
}

/* ICON */
.hp-icon {
    width: 20px;
    margin-right: 10px;
}

.ar-icon {
    width: 30px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.b-icon {
    width: 20px;
    margin-top: 5px;
}

/* CATEGORY TITLE */
.category-title {
    color: brown;
}

/* BOOK COVER */
.book-cover {
    width: 200px;
    padding: 23px;
}

/* BOOK TITLE */
.book-title {
    font-size: 23px;
    font-weight: bold;
}

/* CATEGORY */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.category {
    background-color: #DECAAF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: opacity 0.25s;
}

.book-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 90%;
}
.div-cat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 350px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    transition: box-shadow 0.25s,
                background-color 0.25s,
                color 0.25s;
}

.div-cat:hover {
    background-color: wheat;
    color: brown;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.25)
}

.div-cat a {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* FOOTER */
.second-nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #DECAAF;
    padding: 13px 23px;
    margin-bottom: 15px;
}

.second-nav-bar li a {
    display: inline-block;
    text-decoration: none;
    color: brown;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

.second-nav-bar li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: brown;
    transition: 0.15s ease-in-out;
}
.second-nav-bar li a:hover:after {width: 100%;}

/* Footer styles for Mobile */
@media screen and (max-width: 650px) {
    .second-nav-bar {
        display: block; 
        text-align: center; 
        padding: 10px; 
    }

    .second-nav-bar li {
        display: inline-block; 
        margin: 10px; 
    }

    .second-nav-bar li a::after {
        width: 100%; 
    }
}